[submodule "jssyntax"]
	path = jssyntax
	url = https://github.com/testersbastarps/JSSyntax-tutorial.git
[submodule "simpleCalendar"]
	path = simpleCalendar
	url = https://github.com/testersbastarps/simpleCalendar
[submodule "crossword"]
	path = crossword
	url = https://github.com/onbo-moth/crossword
